*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#explanation{
    display:block;
    margin-right: 150px;
    margin-top:20px;
    min-height: 200px;
    clear:both;
}
#explanation img{
    margin: 0pt 1em 1em 0pt;
    float: left;
    border:none;
}
ul#messages li{
    list-style: none;
    line-height: 1.2em;
    transition: opacity 1s;
}
ul#messages li.level-1{
    font-size : 1.5em;
    font-weight: bold;
    color: #900000;
}
ul#messages li.level-2{
    font-size : 1.5em;
    font-weight: bold;
    font-style: italic;
}
ul#messages li.level-3{
    font-size : 1.2em;
    font-weight: bold;
    font-style: italic;
}
ul#messages li.read{
    opacity: 0;
}
ul#infos li:before {
    content: "\2022";
    font-size:150px;
    vertical-align:middle;
    line-height:60px;
}
ul#infos li{
    list-style: none;
    margin-left: -50px;
    white-space: nowrap;
}
ul#infos li span{
    color:black;
}
#playground{
    border: 1px solid #900000;
    float: right;
    margin-bottom: 20px;
    background: url(img/topheman-playground-bandeau-min.png) no-repeat 50% 50%;
    background-color: rgba(255,255,255,0.99);/** putting white causes black background on windows/chrome (temporary patch - since the color isn't that important)*/
    -webkit-animation: playgroundanim 1.5s;
       -moz-animation: playgroundanim 1.5s;
         -o-animation: playgroundanim 1.5s;
            animation: playgroundanim 1.5s;
}
@-webkit-keyframes playgroundanim{
    0%{background-color : #EFEFEF; border-color: black; background-position: 50% -30%;}
    100%{background-color : white; border-color: #900000; background-position: 50% 50%;}
}
@-moz-keyframes playgroundanim{
    0%{background-color : #EFEFEF; border-color: black; background-position: 50% -30%;}
    100%{background-color : white; border-color: #900000; background-position: 50% 50%;}
}
@-o-keyframes playgroundanim{
    0%{background-color : #EFEFEF; border-color: black; background-position: 50% -30%;}
    100%{background-color : white; border-color: #900000; background-position: 50% 50%;}
}
@keyframes playgroundanim{
    0%{background-color : #EFEFEF; border-color: black; background-position: 50% -30%;}
    100%{background-color : white; border-color: #900000; background-position: 50% 50%;}
}
@media only screen
and (max-width : 539px){
    #explanation{
        margin-right: 0px;
    }
    #tweet-this-link{
        position:absolute;
        top:10px;
        left:250px;
    }
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 540px) {
    #tweet-this-link{
        position:absolute;
        top:15px;
        left:400px;
    }
}
/** chat box */
@-webkit-keyframes chatboxanim{
    0% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    50% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    65% {
        bottom: 75%;
        opacity: 1;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    100% {
        height : 27px;
        bottom: 0%;
        z-index: 1000000;
    }
}
@-moz-keyframes chatboxanim{
    0% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    50% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    65% {
        bottom: 75%;
        opacity: 1;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    100% {
        height : 27px;
        bottom: 0%;
        z-index: 1000000;
    }
}
@-o-keyframes chatboxanim{
    0% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    50% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    65% {
        bottom: 75%;
        opacity: 1;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    100% {
        height : 27px;
        bottom: 0%;
        z-index: 1000000;
    }
}
@keyframes chatboxanim{
    0% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    50% {
        bottom: 75%;
        opacity: 0;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    65% {
        bottom: 75%;
        opacity: 1;
        left:360px;
        width: 200px;
        height : 200px;
        padding-top: 75px;
    }
    100% {
        height : 27px;
        bottom: 0%;
        z-index: 1000000;
    }
}
#chat-wrapper{
    bottom:0;
    left:0;
    position:fixed;
    background: white;
    border: 1px #900000 solid;
    width:450px;
    -webkit-animation: chatboxanim 3.5s;
       -moz-animation: chatboxanim 3.5s;
         -o-animation: chatboxanim 3.5s;
            animation: chatboxanim 3.5s;
}
#chat-wrapper.close{
    width:180px;
}
#chat-wrapper .chat-header{
    width:100%;
    height:25px;
    text-align: center;
    padding-top:2px;
}
#chat-wrapper.close .chat-header{
    cursor: pointer;
}
#chat-wrapper.open .chat-header{
    cursor: auto;
}
#chat-wrapper .chat-header.message-waiting{
    background-color : red;
    -webkit-animation: animMessageWaiting 1s infinite;
       -moz-animation: animMessageWaiting 1s infinite;
         -o-animation: animMessageWaiting 1s infinite;
            animation: animMessageWaiting 1s infinite;
}
@-webkit-keyframes animMessageWaiting{
    0%   {background-color:white; color: black;}
    50%  {background-color:#900000; color: white;}
    100%   {background-color:white; color: black;}
}
@-moz-keyframes animMessageWaiting{
    0%   {background-color:white; color: black;}
    50%  {background-color:#900000; color: white;}
    100%   {background-color:white; color: black;}
}
@-o-keyframes animMessageWaiting{
    0%   {background-color:white; color: black;}
    50%  {background-color:#900000; color: white;}
    100%   {background-color:white; color: black;}
}
@keyframes animMessageWaiting{
    0%   {background-color:white; color: black;}
    50%  {background-color:#900000; color: white;}
    100%   {background-color:white; color: black;}
}
#chat-wrapper .chat-box{
    width:100%;
    display: none;
}
#chat-wrapper.open .chat-box{
    display: block;
}
#chat-wrapper.close .chat-box{
    display: none;
}
#chat-inputs .name{
    width:30%;
}
#chat-inputs .message{
    width:70%;
}
#chat-messages{
    height:200px;
    width:100%;
    overflow-y: scroll;
}
#chat-desktop-list{
    width: 100%;
}