<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="./desktop">If your a desktop (go first)</a>
    <a href="./mobile">If you're a mobile</a>
  </body>
</html>