<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
  </head>
  <body>
    <span id="forkongithub"><a href="https://github.com/topheman/playground2">Fork me on GitHub</a></span>
    <div id="tweet-this-link">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/topheman/playground2" data-text="#HTML5 #JavaScript #nodejs Topheman Playground" data-via="topheman" data-lang="fr" data-size="large" data-count="none">Tweeter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <p>Once you snapped the QR-code with your phone, take control of the bouncing ball on your desktop screen, like a Wiimote, tilting your phone as you would do on a labyrinth game.</p>
    <ul>
        <li>Connect with multiple mobile devices</li>
        <li>Watch from multiple desktop/laptop screens</li>
    </ul>
    <p>You can even use the devicemotion emulator to control the ball from your desktop.</p>
    <p></p>
    <div id="intro" class="game-link-wrapper">
        <a id="go-play" class="game-link technos" href="./desktop" title="Test Topheman playground">TEST !</a>
    </div>
    <iframe src="http://slid.es/topheman/topheman-playground/embed" id="presentation" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </body>
</html>