<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - Mobile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="viewport" content="width=device-width,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="./css/common.css" />
        <link rel="stylesheet" type="text/css" href="./css/mobile.css" />
    </head>
    <body>
        <div id="openModal" class="">
            <div>
                <h2 id="modal-title"></h2>
                <div id="modal-message">
                </div>
            </div>
        </div>
        <div id="tweet-this-link">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/topheman/playground2" data-text="#HTML5 #JavaScript #nodejs Topheman Playground" data-via="topheman" data-lang="fr" data-size="large" data-count="none">Tweeter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <h1><%= title %> - Mobile</h1>
        <h2>Gyro infos</h2>
        <div id="coords">
            <p>Waiting for connection ...<br><img src="./assets/img/loader.gif"></p>
        </div>
        <ul id="errors"></ul>
        <div id="ball"></div>
        <footer id="footer">
            <p>© 2012 - 2013 <a href="https://github.com/topheman/playground2">Topheman Playground</a> - Christophe Rosset - more on <a href="http://labs.topheman.com/" title="All my projects on labs.topheman.com">labs.topheman.com</a></p>
        </footer>
        <script src="./js/vendor/require.js" type="text/javascript"></script>
        <script type="text/javascript">
            (function(){
                var  dependencies = ['custom/mobile','/socket.io/socket.io.js'];
                if( (!window.DeviceMotionEvent && !window.DeviceOrientationEvent) || (!("ontouchstart" in window) && !window.DeviceMotionEvent) || (!("ontouchstart" in window) && !window.DeviceOrientationEvent) || (navigator.userAgent.toLowerCase().indexOf('firefox') > -1 && !("ontouchstart" in window)) ){
                    if(location.href.indexOf('#tiltremote') === -1){
                        alert("Your browser doesn't support the accelerometer, if you are on desktop, you still can try with the device motion emulator.\n\nMake sure to allow the popup to be able to control the device motion emulator");
                    }
                    dependencies.push('vendor/device-motion-polyfill');
                }
                require(['./js/require.config'], function(config) {
                    require(dependencies, function(mobile) {
                        mobile.init();
                    });
                });
            })();
        </script>
    </body>
</html>
